<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../messenger-elements/messenger-login.html">
<link rel="import" href="../messenger-elements/messenger-home.html">
<link rel="import" href="../behaviors/login-behavior.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="messenger-app">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
      }
      messenger-login{
        background-color: #eee;
        padding:1em;
        width: 100%;
      }
      #contenedor{
        height: 100vh;
        width: 100%;
        max-width: 400px;
      }
      .oculto{
        display: none;
      }
    </style> 

    <firebase-app
      auth-domain="messengerfacilito.firebaseapp.com"
      database-url="https://messengerfacilito.firebaseio.com"
      api-key="AIzaSyAa0TrGGW3ZVz6X1Xl8Xs5GmaeyMBbWQiA"
    >      
    </firebase-app>


    <app-localstorage-document key="user" data="{{user}}"></app-localstorage-document>

    <div id="contenedor" class="layout horizontal">
      <messenger-login class="oculto" id="login"  user="{{user}}" on-login="authenticate" on-logout="signOut"></messenger-login >
      <messenger-home id="home" on-logout="signOut" user="{{user}}"></messenger-home>  

    </div>
    
  </template>

  <script>
    Polymer({

      is: 'messenger-app',
      behaviors:[MessengerApp.Login],
      properties: {
        user:{
          type: Object
        }
      },
      ready:function(){
        window.addEventListener("unload",()=> this.unconnect())
      },
      authenticate: function(e){
        this.connect()
        
      },
      signOut: function(e){
        this.unconnect()
        this.user = null
      },
      connect: function(){
        firebase.database().ref("/connected/"+this.user.uid).set(true)
      },
      unconnect: function(){
        if(this.user){
          firebase.database().ref("/connected/"+this.user.uid).remove()
        }
      }

    });
  </script>
</dom-module>
