<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/image-mask/image-mask.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../messenger-elements/messenger-form.html">
<link rel="import" href="../messenger-elements/messenger-messages.html">
<link rel="import" href="../messenger-elements/messenger-login.html">
<link rel="import" href="../messenger-elements/messenger-actions-bar.html">
<link rel="import" href="../behaviors/login-behavior.html">

<dom-module id="messenger-room">
	<style include="iron-flex iron-flex-alignment">
		:host{
			display: block;
			@apply(--paper-font-common-base);
		}
		#main{
			height: 100vh;
			padding:1em;
			background-color: var(--paper-grey-200);
		}
		#messages,#form{
			max-width: 80%;
		}
		#form{
			margin-top:1em;
		}
		.avatar{
			max-width: 18%;
			margin-left: 2%;
		}
		.actions{
			text-align: right;
			margin: 5px 0;
		}
	</style>
	<template>

		<firebase-app
      auth-domain="messengerfacilito.firebaseapp.com"
      database-url="https://messengerfacilito.firebaseio.com"
      api-key="AIzaSyAa0TrGGW3ZVz6X1Xl8Xs5GmaeyMBbWQiA"
    >      
    </firebase-app>
    <messenger-login id="login" user="{{currentuser}}"></messenger-login>

		<app-location route="{{route}}"></app-location>

		<app-route route="{{route}}" pattern="/rooms/:roomKey" data="{{routeData}}"></app-route>
		<div id="main">
			<div class="layout horizontal">
				<div class="flex-auto" id="messages">
					<!-- Mensjaes que intercambie -->
					<messenger-messages uid="{{ currentuser.uid }}" roomkey="{{routeData.roomKey}}"></messenger-messages>
				</div>
				<div class="flex-auto avatar">
					<!-- Avatar de la persona con la que platico -->
					<image-mask src="{{friendData.photoURL}}" shape="hexagon" size="150"></image-mask>
				</div>
			</div>

			<div class="layout horizontal">
				<div class="flex-auto" id="form">
					<!-- Formulario para enviar mensajes -->
					<div class="actions">
						<messenger-actions-bar uid="{{ currentuser.uid }}" roomkey="{{routeData.roomKey}}"></messenger-actions-bar>
					</div>
					<messenger-form user="{{currentuser}}" roomkey="{{routeData.roomKey}}"></messenger-form>
				</div>
				<div class="flex-auto avatar">
					<!-- Avatar del usuario logueado -->
					<image-mask src="{{userData.photoURL}}" shape="hexagon" size="150"></image-mask>
				</div>
			</div>

		</div>
	</template>
	<script>
		Polymer({
			is:"messenger-room",
			properties:{
				currentuser:{
					type: Object,
					observer: "_userChanged"
				},
				friendid: String,
				friendData: Object,
				userData: Object
			},
			behaviors: [MessengerApp.Login],
			_userChanged: function(){
				if(this.currentuser)
					this.findFriendID();
			},
			findFriendID: function(){
				firebase.database().ref("/rooms/"+this.routeData.roomKey)
								.on("value",(d)=>{
									var room = d.val();

									for(uid in room){
										if(this.currentuser.uid != uid)
											this.friendid = uid;
									}
									this.findFriendData();
									this.findUserData();
								});
			},
			findFriendData: function(){
				firebase.database().ref("/users/"+this.friendid)
								.on("value",(d)=>{
									this.friendData = d.val();
								});
			},
			findUserData: function(){
				firebase.database().ref("/users/"+this.currentuser.uid)
								.on("value",(d)=>{
									this.userData = d.val();
								});
			}
		})
	</script>
</dom-module>





