<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<dom-module id="messenger-actions-bar">
	<template>
		<style>
			:host{
				display:inline-block;
			}
		</style>
		<paper-button class="indigo" on-tap="ring">
			<iron-icon icon="device:access-alarm"></iron-icon>
			Zumbido
		</paper-button>
	</template>
	<script>
		Polymer({
			is:"messenger-actions-bar",
			attached:function(){
				this.dbRef = firebase.database().ref("/messages/"+this.roomkey);

			},
			ring:function(){
				this.dbRef.push({
					kind: "ring",
					user: this.uid,
					created_at: firebase.database.ServerValue.TIMESTAMP
				})
				console.log("Enviar zumbido");
			}
		})
	</script>
</dom-module>