<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="messenger-user">

  <script>
    Polymer({
      is:"messenger-user",
      properties:{
        uid:{
          type:String
        },
        user:{
          type:Object,
          notify:true
        }
      },
      attached:function(){
        if(this.uid) this.findUser()
      },
      findUser: function(){
        var userRef = firebase.database().ref("/users/"+this.uid);
        userRef.on("value",(data)=>{
          this.user = data.val();
        });
      }
    });
  </script>
</dom-module>