<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="./messenger-user-card.html">


<dom-module id="messenger-connected-users">
	<style></style>
	<template>
		<firebase-document path="/connected" id="connectedUsers"></firebase-document>
		<template is="dom-repeat" items="{{users}}" as="u" id="usersElement">
			<messenger-user-card user="{{u}}" id="[[u.uid]]" currentuser="[[currentuser]]"></messenger-user-card>
		</template>
	</template>
	<script>
		Polymer({
			is:"messenger-connected-users",
			properties:{
				users:{
					type: Object,
					value: function(){ return [] }
				},
				currentuser:{
					type: Object
				}
			},
			ready: function(){
				this.usersAdded = {}

				this.$.connectedUsers.ref.on("child_added",(data)=>{
					this._userAdded(data)
				})

				this.$.connectedUsers.ref.on("child_removed",(data)=>{
					this._userRemoved(data)
				})
			},

			_userAdded: function(data){
				if(this.usersAdded[data.key]) return;

				var userRef = firebase.database().ref("/users/"+data.key)

				userRef.on("value",(data)=>{
					var user = data.val()

					if(!user) return

					this.usersAdded[data.key] = true
					this.push("users",user)

				})
			},
			_userRemoved: function(data){
				try{
					this.usersAdded[data.key] = null
					this.removeChild(this.$$("#"+data.key))
				}catch(e){
					this.usersAdded[data.key] = true
				}
				


			}
		})
	</script>
</dom-module>