<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./messenger-message.html">
<link rel="import" href="./messenger-ring/messenger-ring.html">

<dom-module id="messenger-messages">
	<style>
		:host{
			display: block;
			height: 50vh;
			overflow-y: scroll;
			background-color: white;
		}
	</style>
	<template>
		<template is="dom-repeat" id="messagesEl" items="{{messages}}" as="message">
			<messenger-message uid="{{uid}}" message="{{message}}"></messenger-message>
		</template>
	</template>
	<script>
		function scrollToBottom(e){
			e.scrollTop = e.scrollHeight - e.getBoundingClientRect().height;
		}
	</script>
	<script>
		Polymer({
			is:"messenger-messages",
			properties:{
				roomkey: String,
				messages:{
					type: Array,
					value: function(){ return [] },
					uid: String
				}
			},
			listeners:{
				"added": "scroll"
			},
			attached: function(){
				this.dbRef = firebase.database().ref("/messages/"+this.roomkey)

				this.dbRef.orderByChild("created_at")
									.limitToLast(50)
									.endAt(Date.now())
									.on("child_added",(d)=> this.newMessage(d,false))

				this.dbRef.orderByChild("created_at").startAt(Date.now())
									.on("child_added",(d)=> this.newMessage(d,true))
				
				// this.dbRef.on("child_added",(data)=> this.newMessage(data))
			},
			newMessage: function(data,notification){
				var mensaje = data.val();
				mensaje.notification = notification;
				
				if(mensaje.kind == "ring"){
					this.ring(mensaje.user, data.key);
				}else{
					this.push("messages",mensaje);	
				}

				
			},
			ring:function(senderUID,key){
				// Messenger-ring
				var ringer = document.createElement("messenger-ring");

				ringer.currentUser = this.uid;
				ringer.sender = senderUID;

				this.appendChild(ringer);

				firebase.database().ref("/messages/"+this.roomkey+"/"+key).remove();
			},

			scroll: function(){
				scrollToBottom(this);
			}
		})
	</script>
</dom-module>