<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-down-animation.html">
<link rel="import" href="../../bower_components/image-mask/image-mask.html">
<link rel="import" href="./messenger-settings-menu.html">
<link rel="import" href="./messenger-connected-users.html">
<link rel="import" href="./messenger-user.html">
<link rel="import" href="./messenger-user-settings.html">

<dom-module id="messenger-home">
	<style>
		:host{
			display: none;
			width: 100%;
			text-align: center;
      position: relative;
		}
		header{
			background-color: var(--paper-indigo-200);
			padding:1em;	
		}
    paper-tab{
      background-color: var(--paper-grey-200);
      color: var(--paper-blue-900);
      transition: all 0.4s;
    }
    paper-tab.iron-selected{
      /*Tab este seleccionado*/
      background-color: var(--paper-blue-900);
      color: var(--paper-grey-200);
    }
		messenger-settings-menu{
      position: absolute;
      top: 1em;
      right: 1em;
      color: white;
    }
	</style>
	<template>

  <messenger-user uid="{{user.uid}}" user="{{userData}}"></messenger-user>

		<header>
      <image-mask src="{{userData.photoURL}}" size="150" shape="hexagon"></image-mask>
      <messenger-settings-menu></messenger-settings-menu>
		</header>
    
    <paper-tabs selected="{{selected}}">
      <paper-tab>Amigos</paper-tab>
      <paper-tab>Mi Perfil</paper-tab>
    </paper-tabs>

    <iron-pages selected="{{selected}}">
      <section>
        <messenger-connected-users currentuser="{{user}}"></messenger-connected-users>
      </section>
      <section>
        <messenger-user-settings user="{{userData}}"></messenger-user-settings>
      </section>
    </iron-pages>


    
	</template>
	<script>
		Polymer({
			is: "messenger-home",
      behaviors:[
        Polymer.NeonAnimationRunnerBehavior
      ],
      properties:{
      	opened:{
      		type: Boolean,
      		value: false
      	},
        user:{
          type: Object,
          observer: "_userChanged"
        },
      	animationConfig:{
      		value: function(){
      			return {
      				'entry': [{
      					name: 'scale-up-animation',
      					id:"scale-up-animation",
      					node: this
      				}],
      				'exit': [{
      					name: 'scale-down-animation',
      					node: this
      				}]
      			}
      		}	
      	}
      },
      listeners:{
      	"neon-animation-finish":"_animationFinished"
      },
      ready:function(){
      	this.hide()
        this.selected = 0
      },
      hide: function(){
      	this.opened = false
      	this.playAnimation("exit")
      },
      show: function(){
      	this.opened = true
      	this.style.display = "block"
      	this.playAnimation("entry")
      },
      _animationFinished: function(){
      	if(!this.opened) this.style.display = "none"
      }
		})
	</script>
</dom-module>