<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="messenger-user-card">
	<style include="iron-flex iron-flex-alignment">
		:host{
			display: block;
		}
		paper-card{
			width: 100%;
		}
		img{
			max-width: 80px;
			margin-right: 1em;
		}
		.circle{
			display: inline-block;
			float: right;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: var(--paper-green-500);
			margin-right: 2em;
		}
		.username{
			text-align: left;
		}
	</style>
	<template>
		<paper-card elevation="1" animated-shadow="true" id="card">
			<div class="card-content layout horizontal center">
				
				<img src$="{{user.photoURL}}" width="80" class="flex-auto">
				<div class="flex-auto username">
					<span class="circle"></span>
					{{user.name}}
				</div>	

			</div>
			
		</paper-card>
	</template>
	<script>
		Polymer({
			is:"messenger-user-card",
			properties:{
				user:{
					type: Object
				},
				currentuser:{
					type: Object
				}
			},
			ready: function(){

				this.$.card.addEventListener("click",()=>{
					// Generar la clave unica
					var roomKey = ""
					var usersJSON = {}
					if(this.user.uid > this.currentuser.uid){
						roomKey = this.currentuser.uid + this.user.uid
						usersJSON[this.currentuser.uid] = true
						usersJSON[this.user.uid] = true
					}else{
						roomKey = this.user.uid + this.currentuser.uid
						usersJSON[this.user.uid] = true
						usersJSON[this.currentuser.uid] = true
					}
					// console.log(usersJSON)
					// console.log(roomKey)

					// Quiero guardar en firebase el room
					var roomRef = firebase.database().ref("/rooms/"+roomKey)

					roomRef.set(usersJSON)

					window.open("/rooms/"+roomKey)
						// Indiciar que usuarios están conversando

					// Generar un componente para que platiquemos

				})


				if(this.user.uid === this.currentuser.uid){
					console.log("Este soy yo")
					this.set("user.name","Yo")
				}
			}
		})
	</script>
</dom-module>