<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<dom-module id="messenger-form">
	<style include="iron-flex iron-flex-alignment">
		:host{
			display: block;
		}
		paper-textarea{
			width: 100%;
		}
		paper-button{
			width: 100px;
			background-color: var(--accent-color);
			color:white;
			margin:1em;
		}
		form{
			background-color: white;
		}
	</style>
	<template>
		<form is="iron-form" class="layout horizontal" id="form">
			<paper-textarea value="{{message}}" label="Escribe tu mensaje aquí..." rows="5" id="textarea"></paper-textarea>
			<paper-button raised id="button"> Enviar </paper-button>
		</form>
	</template>
	<script>
		Polymer({
			is:"messenger-form",
			properties:{
				roomkey: String,
				user: String,
				message: String
			},
			attached: function(){
				this.dbRef = firebase.database().ref("/messages/"+this.roomkey)

				this.$.button.addEventListener("click",()=> this.sendMessage() )
			},
			sendMessage: function(){
				this.dbRef.push({
					body: this.message,
					user: this.user.uid,
					kind: "message",
					created_at: firebase.database.ServerValue.TIMESTAMP
				});

				this.$.textarea.value = "";


			}
		})
	</script>
</dom-module>